div.container { height: 600px; width: 100%; text-align: center; }
div.section1 { width:800px; text-align: center; font-size: 20px; font-weight: bold; padding: 40px; margin: 100px auto 0px auto; }

div.section1 p {
	margin: auto auto;
}