body{
	font-family: "helvetica neue", arial, helvetica, freesans, "liberation sans","numbus sans l", sans-serif;
	
	height:100%;
}

div.top-banner {
	width: 100%; height: 50px; position: absolute; top: 0; left: 0;

	background-color: #FFFFFF
	
	padding-bottom: 0.5em;
}
div.top-banner img.logo-quote { float: left; margin: 0; height: 40px; padding: 10px; cursor: pointer; }

div.spacer { width: 100%; height: 70px; padding: 0; margin: 0; }

.positive { color: #2ECC0E; }
.negative { color: #FF2B2B }

span.aspect-title { background: #FF2B2B; border-radius: 0.3em; color: #FFFFFF; padding: 0.1em 0.6em; font-size: 0.95em; cursor: pointer;  }
span.aspect-title.placeholder { visibility: hidden; }

span.form-header { font-size: 1.2em; margin: 0 0 0.6em 0; display: inline-block; }
div.form-account { width: 80%; max-width: 900px; margin: 2em auto 1em auto; }


