div.brevada-tooltip {
	width: auto;
	height: auto;
	border-radius: 3px;
	opacity: 0.95;
	background: #333;
	padding: 0.8em 0.5em;
	margin: 0;
	z-index: 999999;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	box-sizing: border-box;
}
div.brevada-tooltip > span { color: #FFF; }
.brv-tp-enabled { }