* {
    box-sizing: border-box;
}
body {
    font-family: "helvetica neue", arial, helvetica, freesans, "liberation sans", "numbus sans l", sans-serif;
    background-color: #BBB;
}
div.top-fixed {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}
div.top-banner {
    background: #FFF;
    padding: 0px 10px;
    line-height: 50px;
}
div.top-banner img.logo-quote {
    height: 20px;
    cursor: pointer;
    margin-top: 15px;
}
div.top-banner div.name {
    margin: 0px 5px;
    opacity: 0.5;
}
div.top-banner div.name .variable {
	text-transform: uppercase;
	font-weight: bold;
}
div.top-banner .dropdown-menu {
	border-radius: 3px;
	margin-top: -2px;
}
div.top-banner .dropdown-menu li {
    padding: 0px 5px;
    border-bottom: 1px solid #dcdcdc;
    cursor: pointer;
	text-align: center;
}
div.top-banner .dropdown-menu li:hover {
    background: #999;
    color: #FFFFFF;
}
div.top-banner .three-lines {
    background: none;
    color: #454545;
    border: none;
    font-size: 30px;
}
.positive {
    background: #2ecc0e;
}
.great {
    background: #82cc0e;
}
.neutral {
    background: #afcc0e;
}
.bad {
    background: #ccc10e;
}
.negative {
    background: #cc750e;
}
.positive-text {
    color: #2ecc0e;
}
.great-text {
    color: #82cc0e;
}
.neutral-text {
    color: #afcc0e;
}
.bad-text {
    color: #ccc10e;
}
.negative-text {
    color: #cc750e;
}
.positive-border {
    border: 2px solid #2ecc0e;
}
.great-border {
    border: 2px solid #82cc0e;
}
.neutral-border {
    border: 2px solid #afcc0e;
}
.bad-border {
    border: 2px solid #ccc10e;
}
.negative-border {
    border: 2px solid #cc750e;
}
span.aspect-title {} span.aspect-title.placeholder {
    visibility: hidden;
}
div.mid-banner {
    width: 100%;
    min-height: 50px;
    height: auto;
    background: #454545;
    margin: 0;
    padding: 1em 1em;
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.75);
}
div.mid-banner .icon-button {
    cursor: pointer;
    margin: 0 20px;
    text-align: center;
    font-size: 30px;
}
div.mid-banner .icon-button:hover {
    opacity: 1;
}
div.mid-banner .icon-button i {
    float: left;
	color: #EEE;
}
div.mid-banner .icon-button .icon-subtext {
    float: left;
	margin: 4px 0px -4px 8px;
    line-height: 30px;
	font-size: 12px;
	color: #EEE;
	text-align: center;
	text-transform: uppercase;
}
div.block {
    margin-bottom: 25px;
    background: #EEE;
    padding: 0px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
div.block div.block-left {
    float: left;
    font-size: 75px;
    padding: 0px 15px;
}
div.block div.block-right {
    float: left;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    line-height: 110px;
}
div.block div.block-bottom {
    clear: both;
    background: #FFFFFF;
    color: #454545;
    padding: 3px;
    font-size: 12px;
    text-transform: uppercase;
}
div.spacer {
    width: 100%;
    height: 115px;
    padding: 0;
    margin: 0;
}
div.aspect-area {
    height: auto;
    overflow: hidden;
    margin: 1em auto;
}
div.aspect-area div.message-container {
    padding: 30px 30px 10px 30px;
    background: #EEE;
    color: #454545;
	margin: 0 0 1em 0;
	border: 1px solid #BBB;
}
div.aspect-area div.message-container:hover {
	border: 1px solid #EEE;
}
div.aspect-area div.message-container .btn-pay {
    background: #4eaf0e;
    border-color: #4eaf0e;
	margin-right: 0.4em;
}
div.aspect-area div.message-container div.message {
	font-size: 25px;
	margin: 0 0 1em 0;
}
div.aspect-area div.message-container div.sub-message {
    font-size: 15px;
	margin: 1em 0 1.8em 0;
}
div.aspect-area div.message-container div.close {
	position: absolute;
	top: 0.2em;
	right: 1em;
	cursor: pointer;
}
div.aspect-area div.message-container div.close:hover {
	color: #343434;
}

div.aspect-area div.row {
    width: 100%;
    max-width: 2000px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}
div.aspect-area div.row div.aspect-container {
    width: 100%;
    padding: 0px 10px;
    height: auto;
    margin: 0 3em 2em 0;
    display: inline-block;
    position: relative;
    zoom: 1;
}
div.aspect-area div.row div.aspect-container.disabled::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: repeating-linear-gradient(-55deg, #222, #222 6px, #333 6px, #333 12px);
    opacity: 0.35;
}
div.aspect-area div.row div.area-title {
    display: none;
    color: #BBB;
    text-align: left;
    padding: 10px;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
div.aspect-area div.row div.aspect-container div.graph-info div.left-block {
    display: inline-block;
    padding: 0px 10px;
}
div.aspect-area div.row div.aspect-container div.graph-info div.right-block {
    overflow: hidden;
    height: 100%;
    display: inline-block;
    margin-top: 10px;
    padding: 0px 10px;
    text-align: left;
}
div.aspect-area div.row div.aspect-container div.graph-info div.right-block > div {
    font-size: 0.9em;
    overflow: hidden;
}
div.aspect-area div.row div.aspect-container span.aspect-title {
    background: #555555;
    color: #FFFFFF;
    display: inline-block;
    margin: 0em 0 0 0;
    padding: 5px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
div.aspect-area.right-bar div.consultant {
    margin-bottom: 15px;
    background: #EAEAEA;
    padding: 0px;
}
div.aspect-area.right-bar div.consultant .title {
    background: #FFF;
    color: #454545;
    text-align: left;
    text-transform: uppercase;
    padding: 10px;
}
div.aspect-area.right-bar div.consultant .body {
    padding: 10px 5px;
}
div.aspect-area.right-bar div.consultant .aspect-title {
    padding: 10px;
    margin: 0px 5px 5px 0px;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 1em;
    text-overflow: ellipsis;
}
div.bottom-bar {
    background: #434343;
    position: fixed;
    width: 100%;
    left: 0px;
    bottom: 0px;
    height: 20px;
    font-size: 12px;
    text-align: center;
    color: #DDD;
    text-align: right;
}
.pod-holder {
    /*padding: 0px 10px 20px 10px;*/
	padding: 0;
}
.pod {
    overflow: hidden;
    background: #FFF;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
	min-height: 387px;
	margin: 0px 10px 20px 10px;
	padding: 0;
	position: relative;
}
.pod .header {
    padding: 10px;
	background: #FFF;
}
.pod .body {
    background: #eaeaea;
	width: 100%;
	height: 100%;
	position: absolute;
}
.pod .body .pod-body-right {
    text-align: right;
}
.pod .body .pod-body-right .rating-text {
    color: #999;
}
.pod .body .pod-body-right .rating-text.external {
    font-size: 10px;
}
.pod .body .pod-body-left {
    padding: 15px;
}
.pod .body .pod-body-left .top {
    font-size: 20px;
    clear: both;
}
.pod .body .pod-body-left .top .percent {
    font-weight: bold;
    color: #999;
}
.pod .body .pod-body-left .top .duration {
    margin-left: 5px;
    font-size: 8px;
    color: #999;
    text-transform: uppercase;
}
.pod .body .pod-body-left i {
    font-size: 25px;
    color: #999;
}
.pod .body .pod-body-rating {
    margin-top: 10px;
    font-size: 35px;
    line-height: 40px;
    font-weight: bold;
}
.pod .body .pod-body-rating.external {
    font-size: 25px;
    line-height: 30px;
    color: #999;
}
.pod .body .pod-body-bottom {
    clear: both;
	position: absolute;
	bottom: 0;
	width: 100%;
    padding: 0px;
}
.pod .aspect-title {
    text-transform: uppercase;
    font-size: 18px;
    background: none;
}
.pod .pod-footer {
    font-size: 20px;
    color: #999;
}
.pod .toggle {
    margin: 10px;
}
.pod .body .pod-body-bottom div.graphs {
    height: 200px;
}

.pod .body .pod-body-bottom div.graphs div.line-graph {
    height: 105%;
	margin: 0;
    margin-left:-2%;
	padding: 0;
    width: 105%;
	position: relative;
}

.pod .body .pod-body-bottom div.graphs div.line-graph canvas {
    width: 100%;
	height: 100%;
	position: absolute;
	bottom: -20px;
}

.pod .body .pod-body-bottom div.graphs div.bar-graph {
    display: none;
    height: 200px;
}
.pod .body .pod-body-bottom div.graphs div.graph {
    float: left;
    position: absolute;
    bottom: 0;
}
.pod .body .pod-body-bottom div.graphs div.graph:hover {
    opacity: 0.9;
}
.pod .body .pod-body-bottom div.graph:hover {
    opacity: 0.9;
}
.pod .body .pod-body-bottom div.left-graph {
    height: 15%;
    width: 30%;
    left: 0;
}
.pod .body .pod-body-bottom div.left-graph div.percent {
    color: #FFFFFF;
    font-size: 1.2em;
    font-weight: bold;
    position: absolute;
    bottom: 0.4em;
    left: 0.4em;
    opacity: 0.5;
}
.pod .body .pod-body-bottom div.right-graph {
    background: #999;
    width: 15%;
    height: 15%;
    left: 30%;
}

/* Slide Down */

div.slide-down {
    width: 100%;
    padding:20px;
    background: #FFF;
    display: none;
}
div.slide-down .slide-down-button {
    display: inline-block;
    text-decoration: underline;
    cursor: pointer;
    margin: 0px 10px 0px 0px;
}
div.email-display-container {
    display: none;
}
div.email-display-container .email {
    display: inline-block;
    margin: 5px 10px 5px 0px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid #DDD;
}
div.email-display-container .email .text{
    display: inline-block;
    color: #454545;
    background: #FFF;
    padding: 10px;
}
div.email-display-container .email .rating{
    display: inline-block;
    padding: 10px;
    color: #FFF;
    text-align: center;
    width: 50px;
    font-weight: bold;
}


/* Tooltip for Chart JS */
#chartjs-customtooltip {
    opacity: 1;
    position: absolute;
    background: rgba(230, 230, 230, .7);
    transition: all, .1s ease, opacity .1s .2s linear;
	
	width: auto; height: auto; border-radius: 0.2em; background: #E6E6E6; padding: 0.65em 0.5em; margin: 0; z-index: 999999; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; border: 1px solid #cecece;
}
#chartjs-customtooltip.below {
	transform: translate(-50%, 10%);
}
#chartjs-customtooltip.below::before {
	border: solid;
    border-color: #111 transparent;
    border-color: rgba(200, 200, 200, 1) transparent;
    border-width: 0 8px 8px 8px;
    bottom: 1em;
    content: "";
    display: block;
    left: 50%;
	top: 0;
    position: absolute;
    z-index: 99;
    transform: translate(-50%, -100%);
}
#chartjs-customtooltip.above {
	transform: translate(-50%, -110%);
}
#chartjs-customtooltip.above::before {
	border: solid;
    border-color: #111 transparent;
    border-color: rgba(200, 200, 200, 1) transparent;
    border-width: 8px 8px 0 8px;
    bottom: 1em;
    content: "";
    display: block;
    left: 50%;
    top: 100%;
    position: absolute;
    z-index: 99;
    transform: translate(-50%, 0);
}

#chartjs-customtooltip .tooltip-label { display: block; text-align: center; }
#chartjs-customtooltip .tooltip-value { display: block; text-align: center; }
/* End of ChartJS tooltip */