* {
    box-sizing: border-box;
}
body {
    font-family: "helvetica neue", arial, helvetica, freesans, "liberation sans", "numbus sans l", sans-serif;
    background-color: #FFF;
}
div.screen-overlay {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #FFF;
}
div.top-fixed {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}
div.top-banner {
    background: #FFF;
    color: #666;
    padding: 0px 10px 0px 100px;
    line-height: 40px;
}
div.top-banner img.logo-quote {
    height: 20px;
    cursor: pointer;
    margin-top: 15px;
}
div.top-banner div.name {
    margin: 0px 5px;
    opacity: 0.5;
}
div.top-banner div.name .variable {
	text-transform: uppercase;
	font-weight: bold;
}
div.top-banner .dropdown-menu {
	border-radius: 3px;
	margin-top: -2px;
}
div.top-banner .dropdown-menu li {
    color: #666;
    padding: 0px 5px;
    border-bottom: 1px solid #dcdcdc;
    cursor: pointer;
	text-align: center;
}
div.top-banner .dropdown-menu li:hover {
    background: #999;
    color: #FFFFFF;
}
div.top-banner .three-lines {
    background: none;
    color: #666;
    border: none;
    font-size: 20px;
}

.positive{ background: #2ecc0e; }
.great{ background: #82cc0e; }
.neutral{ background: #afcc0e; }
.bad{ background: #ccc10e; }
.negative{ background: #cc750e; }
.positive-text{ color: #2ecc0e; }
.great-text{ color: #82cc0e; }
.neutral-text{ color: #afcc0e; }
.bad-text{ color: #ccc10e; }
.negative-text{ color: #cc750e; }
.positive-border{ border:2pxsolid #2ecc0e; }
.great-border{ border:2pxsolid #82cc0e; }
.neutral-border{ border:2pxsolid #afcc0e; }
.bad-border{ border:2pxsolid #ccc10e; }
.negative-border{ border:2pxsolid #cc750e; }

span.aspect-title {} span.aspect-title.placeholder {
    visibility: hidden;
}
div.mid-banner {
    width: 100%;
    min-height: 30px;
    height: auto;
    background: #333;
    border-bottom: 1px solid #DCDCDC;
    border-top: 1px solid #DCDCDC;
    margin: 0;
    padding: 0em;
    overflow: hidden;
/*    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.75);*/
}

div.mid-banner .icon-button {
    cursor: pointer;
    width: 120px;
    text-align: center;
    font-size: 12px;
    background: none;
    color: #BBB;
    outline: none;
    /*border-right: 1px solid #BBB;*/
    border-radius: 0px;
    overflow: hidden;
    line-height: 15px;
    border-bottom: 0px;
    text-transform: uppercase;
}



@media (max-width:505px) {
    div.mid-banner .icon-button {
        width: auto;
        font-size: 9px;
    }
}

div.mid-banner .icon-button i {
    float: left;
    color: #BBB;
}

div.sidebar {
    width: 75px;
}

div.sidebar .icon-button.selected {
    padding-top: 7px;  
}

.btn-sidebar {
    text-transform: uppercase;
    font-size: 11px;
    color: #666;
    background: #EEE;
    outline: none;
    border-color: #EEE;
    border: none;
    border-bottom: 1px solid #BBB;
    width: 75px;
    height: 90px;
    overflow: hidden;
    border-radius: 0px;
}

div.sidebar .icon-button.selected::after {
/*    border: 30px solid #EEE;
    height: 5px;
    width: 5px;
    content: '';
    display: block;
    position: relative;
    z-index: 9;
    top: -70px;
    left: 80px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);*/
}
.btn-sidebar .icon {
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #BBB;
    border-radius: 50px;
    margin: 0 auto;
    line-height: 40px;
}

div.sidebar .icon-button {
    outline: none;
}

div.sidebar .icon-button .icon {
    line-height: 30px;
    font-size: 15px;
}

div.sidebar .icon-button .icon i {
    margin: 0 auto;
}

.btn-sidebar .icon img {
    max-width: 30px;
    max-height: 30px;
    margin: 0 auto;
}

div.sidebar .icon-button .icon-subtext {
    line-height: 20px;
    margin-top: 5px;
    font-size: 10px;
    color: #999;
    text-align: center;
    text-transform: uppercase;
}

div.sidebar .icon-button:hover {
    background: none;
    background: #333;
    color: #FFF;
}

div.sidebar .icon-button.selected {
    background: #333;
}

div.sidebar .icon-button.selected .icon-subtext {
    color: #FFF;
}

div.sidebar .icon-button.selected .icon {
    color: #FFF;
    border-color: #EEE;
}

div.sidebar .icon-button:active {
    outline: none;
}


div.block {
    margin-bottom: 25px;
    background: #EEE;
    padding: 0px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
div.block div.block-left {
    float: left;
    font-size: 75px;
    padding: 0px 15px;
}
div.block div.block-right {
    float: left;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    line-height: 110px;
}
div.block div.block-bottom {
    clear: both;
    background: #FFFFFF;
    color: #454545;
    padding: 3px;
    font-size: 12px;
    text-transform: uppercase;
}
div.spacer {
    width: 100%;
    height: 70px;
    padding: 0;
    margin: 0;
}
div.aspect-area {
    height: auto;
    overflow: visible;
    margin: 1em 0;
}
div.aspect-area div.message-container {
    padding: 25px 20px 10px 20px;
    background: #EEE;
    color: #454545;
	margin: 0 auto 1em auto;
	border: 1px solid #BBB;
	position: relative;
	width: 98%;
	border-radius: 3px;
}
div.aspect-area div.message-container:hover {
	border: 1px solid #EEE;
}
div.aspect-area div.message-container .btn-pay {
    background: #4eaf0e;
    border-color: #4eaf0e;
	margin-right: 0.4em;
}
div.aspect-area div.message-container div.message {
	font-size: 25px;
	margin: 0 0 1em 0;
}
div.aspect-area div.message-container div.sub-message {
    font-size: 15px;
	margin: 1em 0 1.1em 0;
}
div.aspect-area div.message-container div.close {
	position: absolute;
	top: 1.9px;
	right: 8px;
	cursor: pointer;
}
div.aspect-area div.message-container div.close:hover {
	color: #343434;
}

div.aspect-area div.row {
    width: 100%;
    max-width: 2000px;
    height: auto;
    overflow: visible;
    margin: 0 auto;
}
div.aspect-area div.row div.aspect-container {
    width: 100%;
    padding: 0px 10px;
    height: auto;
    margin: 0 3em 2em 0;
    display: inline-block;
    position: relative;
    zoom: 1;
}
div.aspect-area div.row div.aspect-container.disabled::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: repeating-linear-gradient(-55deg, #222, #222 6px, #333 6px, #333 12px);
    opacity: 0.35;
}
div.aspect-area div.row div.area-title {
    display: none;
    color: #BBB;
    text-align: left;
    padding: 10px;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
div.aspect-area div.row div.aspect-container div.graph-info div.left-block {
    display: inline-block;
    padding: 0px 10px;
}
div.aspect-area div.row div.aspect-container div.graph-info div.right-block {
    overflow: hidden;
    height: 100%;
    display: inline-block;
    margin-top: 10px;
    padding: 0px 10px;
    text-align: left;
}
div.aspect-area div.row div.aspect-container div.graph-info div.right-block > div {
    font-size: 0.9em;
    overflow: hidden;
}
div.aspect-area div.row div.aspect-container span.aspect-title {
    background: #555555;
    color: #FFFFFF;
    display: inline-block;
    margin: 0em 0 0 0;
    padding: 5px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
div.aspect-area.right-bar div.consultant {
    margin-bottom: 15px;
    background: #EAEAEA;
    padding: 0px;
}
div.aspect-area.right-bar div.consultant .title {
    background: #FFF;
    color: #454545;
    text-align: left;
    text-transform: uppercase;
    padding: 10px;
}
div.aspect-area.right-bar div.consultant .body {
    padding: 10px 5px;
}
div.aspect-area.right-bar div.consultant .aspect-title {
    padding: 10px;
    margin: 0px 5px 5px 0px;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 1em;
    text-overflow: ellipsis;
}
div.bottom-bar {
    background: #434343;
    position: fixed;
    width: 100%;
    left: 0px;
    bottom: 0px;
    height: 20px;
    font-size: 12px;
    text-align: center;
    color: #DDD;
    text-align: right;
}
.pod-holder {
    /*padding: 0px 10px 20px 10px;*/
	padding: 0;
}
.pod {
    overflow: hidden;
    background: #FFF;
/*    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);*/
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #EEE;
	min-height: 310px;
	margin: 0px 10px 20px 10px;
	padding: 0;
	position: relative;
}
.pod .header {
    padding: 10px;
	background: #FFF;
}
.pod .body {
    background: #FFF;
	width: 100%;
	height: 100%;
	position: absolute;
}
.pod .body .pod-body-right {
    text-align: right;
}
.pod .body .pod-body-right .rating-text {
    color: #999;
}
.pod .body .pod-body-right .rating-text.external {
    font-size: 10px;
}
.pod .body .pod-body-left {
	white-space: nowrap;
    padding: 15px 0px 15px 10px;
}
.pod .body .pod-body-left .top {
    font-size: 20px;
    clear: both;
}
.pod .body .pod-body-left .top .percent {
    font-weight: bold;
    color: #999;
}
.pod .body .pod-body-left .top .duration {
    margin-left: 5px;
    font-size: 8px;
    color: #999;
    text-transform: uppercase;
}
.pod .body .pod-body-left i {
    font-size: 25px;
    color: #999;
}
.pod .body .pod-body-rating {
    margin-top: 10px;
    font-size: 35px;
    line-height: 40px;
    font-weight: bold;
}
.pod .body .pod-body-rating.external {
    font-size: 25px;
    line-height: 30px;
    color: #999;
}
.pod .body .pod-body-bottom {
    clear: both;
	position: absolute;
	bottom: 0;
	width: 100%;
    padding: 0px;
}
.pod .aspect-title {
    /*text-transform: uppercase;*/
    font-size: 18px;
    background: none;
}
.pod .pod-footer {
    font-size: 20px;
    color: #999;
}
.pod .toggle {
    margin: 10px;
}
.pod .body .pod-body-bottom div.graphs {
    height: 120px;
}

.pod .body .pod-body-bottom div.graphs div.line-graph {
    height: 100%;
	margin: 0 0 0 0;
	padding: 0;
    width: 100%;
	position: relative;
}

.pod .body .pod-body-bottom div.graphs div.line-graph:not(.no-data)::after {
	content: 'Last 2 Weeks';
	background: rgb(242, 96, 106);
	padding: 0 3px;
	margin: 0;
	color: #fff;
	font-size: 12px;
	position: absolute;
	bottom: 7px;
	left: 9px;
	opacity: 0.5;
}

.pod .body .pod-body-bottom div.graphs div.line-graph:not(.no-data) .no-data {
	display: none;
}

.pod .body .pod-body-bottom div.graphs div.line-graph.no-data .no-data {
	display: block;
	background: rgb(242, 96, 106);
	text-align: center;
	position: absolute;
	bottom: 4%;
	left: 2%;
	width: 96%;
	height: 96%;
	margin: 0 auto;
	margin-top: 5px;
}
.pod .body .pod-body-bottom div.graphs div.line-graph.no-data .no-data i {
	text-align: center;
	color: #fff;
	opacity: 0.5;
	font-size: 90px;
}
.pod .body .pod-body-bottom div.graphs div.line-graph.no-data .no-data span {
	text-align: center;
	color: #fff;
	opacity: 0.5;
	display: block;
	font-size: 12px;
}

.pod .body .pod-body-bottom div.graphs div.line-graph canvas {
	position: absolute;
	bottom: 0;
}
.pod .body .pod-body-bottom div.graphs div.line-graph.no-data canvas {
	visibility: hidden;
}

.pod .body .pod-body-bottom div.graphs div.bar-graph {
    display: none;
    height: 120px;
}
.pod .body .pod-body-bottom div.graphs div.graph {
    float: left;
    position: absolute;
    bottom: 0;
}
.pod .body .pod-body-bottom div.graphs div.graph:hover {
    opacity: 0.9;
}
.pod .body .pod-body-bottom div.graph:hover {
    opacity: 0.9;
}
.pod .body .pod-body-bottom div.left-graph {
    height: 15%;
    width: 30%;
    left: 0;
}
.pod .body .pod-body-bottom div.left-graph div.percent {
    color: #FFFFFF;
    font-size: 1.2em;
    font-weight: bold;
    position: absolute;
    bottom: 0.4em;
    left: 0.4em;
    opacity: 0.5;
}
.pod .body .pod-body-bottom div.right-graph {
    background: #EEE;
    width: 15%;
    height: 15%;
    left: 30%;
}

/* Slide Down */

div.slide-down {
    width: 100%;
    padding:20px;
    background: #FFF;
    display: none;
	position: relative;
	top: -12px;
}
div.slide-down .slide-down-button {
    display: inline-block;
    text-decoration: underline;
    cursor: pointer;
    margin: 0px 10px 0px 0px;
}
div.email-display-container {
    display: none;
}
div.email-display-container .email {
    display: inline-block;
    margin: 5px 10px 5px 0px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid #DDD;
}
div.email-display-container .email .text{
    display: inline-block;
    color: #454545;
    background: #FFF;
    padding: 10px;
}
div.email-display-container .email .rating{
    display: inline-block;
    padding: 10px;
    color: #FFF;
    text-align: center;
    width: 50px;
    font-weight: bold;
}


/* Tooltip for Chart JS */
#chartjs-customtooltip {
    opacity: 1;
    position: absolute;
    background: rgba(230, 230, 230, .7);
    transition: all, .1s ease, opacity .1s .2s linear;
	width: auto;
    height: auto;
    border-radius: 0.2em;
    background: #E6E6E6;
    padding: 0.65em 0.5em;
    margin: 0;
    z-index: 999999;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #cecece;
}
#chartjs-customtooltip.below {
	transform: translate(-50%, 10%);
}
#chartjs-customtooltip.below::before {
	border: solid;
    border-color: #111 transparent;
    border-color: rgba(200, 200, 200, 1) transparent;
    border-width: 0 8px 8px 8px;
    bottom: 1em;
    content: "";
    display: block;
    left: 50%;
	top: 0;
    position: absolute;
    z-index: 99;
    transform: translate(-50%, -100%);
}
#chartjs-customtooltip.above {
	transform: translate(-50%, -110%);
}
#chartjs-customtooltip.above::before {
	border: solid;
    border-color: #111 transparent;
    border-color: rgba(200, 200, 200, 1) transparent;
    border-width: 8px 8px 0 8px;
    bottom: 1em;
    content: "";
    display: block;
    left: 50%;
    top: 100%;
    position: absolute;
    z-index: 99;
    transform: translate(-50%, 0);
}

#chartjs-customtooltip .tooltip-label { display: block; text-align: center; }
#chartjs-customtooltip .tooltip-value { display: block; text-align: center; }
/* End of ChartJS tooltip */


#wrapper {
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
    padding: 0px;
    left: 0;
    top: 30px;
    background: #EEE;
    border-right: 1px solid #DCDCDC;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
}
.sidebar {
    margin-bottom: 30px;
}

#page-content-wrapper {
    width: 100%;
	margin: 0 auto 44px auto;
	padding: 0 0 0 90px;
	transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 130px;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (max-width:767px) {

    #wrapper {
      padding-left: 0;
    }
	
	#page-content-wrapper {
		padding: 0 0 0 60px;
	}
	
	#sidebar-wrapper {
		width: 60px;
	}

    #sidebar-wrapper .sidebar button {
        width: 50px;
        height: 50px;
        padding: 5px;
        opacity: 0.7;
    }

    #sidebar-wrapper .sidebar button .icon {
        width: 35px;
        height: 35px;
        font-size: 15px;
        line-height: 34px;
    }

    #sidebar-wrapper .sidebar button .icon i {

    }

}

@media (max-width:500px) {
	#page-content-wrapper {
		padding: 0 0 0 0;
	}
}

.dashboard-pod {
    padding: 0px;
    background: #FFF;
    border-radius: 2px;
    margin-bottom: 20px;
    overflow: hidden;
/*    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);*/
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.clear {
    clear: both;
}

div.milestone {
	transition: all 0.4s ease 0s;
}

.milestone-form {
    margin-bottom: 1em;
}
.milestone-form .form-group:last-child {
	text-align: center;
	display: none;
}
.milestone-form .submit {
	margin: 0.8em auto 0.3em auto;
	background: none;
	border: 1px solid #999;
	outline: none;
	padding-left: 3em;
	padding-right: 3em;
}
.milestone-form input {
    padding: 5px;
    font-size: 15px;
    outline: none;
    background: none;
    border: 1px solid #DCDCDC;
    border-radius: 1px;
}
.milestone-form .input-group.date .input-group-addon {
	outline: none;
	background: none;
	border: 1px solid #DCDCDC;
}

.milestone-body {
    padding: 0px;
    background: #F5F5F5;
    border-radius: 2px;
    margin-bottom: 20px;
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #DCDCDC;
}
.milestone-body .header {
    padding: 10px;
    background: #FFF;
    cursor: pointer;
}
.milestone-body .header .bulb {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    display: inline-block;
}
.milestone-body .header .header-content {
    margin-left: 8px;
    display: inline-block;
}
.milestone-body .header .title {
    float: left;
    font-weight: bold;
}
.milestone-body .header .title .complete {
    font-size: 10px;
    color: #82cc0e;
	margin-left: 10px;
}
.milestone-body .header .data {
    clear: both;
}
.milestone-body .header .data .date {
    float: left;
    color: #666;
}

.milestone-body .header .data .completion {
    float: left;
    color: #666;
}

.milestone-body .body {

}
.milestone-body .body .milestone-aspect {
    padding: 10px;
    border-bottom: 1px solid #dcdcdc;
}
.milestone-body .body .milestone-aspect .bulb {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 2px;
}
.milestone-body .body .milestone-aspect .title {
    margin-left: 5px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    color: #666;
}
.milestone-body .body .milestone-aspect .details {
    margin-left: 5px;
    display: inline-block;
}
.milestone-body .body .milestone-aspect .clear {
    float: right;
    color: #999;
	cursor: pointer;
}
.milestone-body .add {
    line-height: 15px;
    padding: 10px;
    color: #999;
    cursor: pointer;
}
.milestone-body .footer {
    text-align: right;
    font-size: 11px;
    color: #666;
    padding: 5px;
    background: #F5F5F5;
}
.milestone-body .footer .complete-button {
    font-weight: bold;
    display: inline-block;
}
.milestone-body .footer div {
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
}

.support-form textarea {
    padding: 10px;
    font-size:18px;
    resize: none;
    width: 100%;
    height: 300px;
    outline: none;
    color: #666;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
}

.support-form .submit {
    width: 100%;
    margin: 0px;
    padding: 10px;
    text-align:center;
    width: 100%;
    cursor: pointer;
}



.hoverpod {
    cursor: pointer;
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 9;
    width:100%;
    background: #FFF;
    color: #333;
    padding-left: 100px;
/*    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);*/
/*    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    opacity: 0.95;*/
}
.hoverpod:hover {
    opacity: 1;
}

.hoverpod .body {
    padding: 5px;
}
.hoverpod .body div {
    width: 110px;
    margin-right: 10px;
    display: inline-block;
}
.hoverpod .body div div {
    display: block;
}

.hoverpod .body .number {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
.hoverpod .body .text {
    font-size: 13px;
    text-align: center;
}
.hoverpod .status .bulb {
    width: 35px;
	height: 20px;
	padding: 0;
	
    border-radius: 3px;
    margin: 0 auto;
    margin-bottom: 3px;
	
	text-align: center;
	font-size: 12px;
	padding-top: 2px;
	color: #fff;
}

@media (max-width:767px) {
    
    .hoverpod {
        opacity: 0.7;
    }

    .hoverpod:hover {
        opacity: 0.7;
    }

    .hoverpod .body div {
        width: 50px;
        margin-right: 10px;
        display: inline-block;
    }
}


#alert-holder .alert {
    width: 70%;
    padding: 10px;
    z-index: 99;
    background: #FF2B2B;
    color: #FFF;
    position: fixed;
    top: 50%;
    left: 15%;
    text-align: center;
}

#alert-holder .alert.success {
    background: #2ecc0e;
}

.complete-page {
    padding: 0px 7px;
}

.complete-page .main {
    padding: 0px 45px 0px 0px;
}

.complete-page .section {
    margin-bottom: 20px;
    clear: both;
    /*border: 1px solid #EEE;*/
    border-radius: 3px;
    overflow: hidden;
}

.complete-page .section canvas {
    border-radius: 0px;
}

.complete-page .section .toolbar {
    padding: 10px;
    background: #FFF;
    border-bottom: 1px solid #DCDCDC;
    clear: both;
}

.complete-page .section .toolbar .title {
    float: left;
    font-size: 18px;
}

.complete-page .section .toolbar .buttons {
    float: right;
}

.complete-page .section .toolbar .buttons div {
    background: #EEE;
    border: 1px solid #dcdcdc;
    color: #666;
    height: 25px;
    padding: 0px 10px;
    border-radius: 4px;
    text-align: center;
    line-height: 25px;
    display: inline-block;
}

.complete-page .section .graph-button {
    position: absolute;
    bottom: 10px;
	right: 10px;
    background: rgba(242, 96, 106, 1);
    opacity: 0.9;
    /*border: 1px solid rgb(242, 96, 106);*/
    color: #FFF;
    height: 55px;
    width: 55px;
    line-height: 55px;
    border-radius: 55px;
    text-align: center;
    font-size: 30px;
/*    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);*/
	cursor: pointer;
}
.complete-page .section .graph-button:hover {
	opacity: 1;
}

.complete-page .graph-container {
    height: 280px;
    text-align: right;
	position: relative;
}

.complete-page .section .fullscreen {
    position: fixed;
    left: 0px;
    z-index: 1001;
    width: 100%;
    height: 75%;
}

.complete-page .sub-graph-container {
    height: 150px;
    padding: 0px;
	position: relative;
}

.complete-page .sub-header {
    margin-top: 10px;
}

.complete-page .settings .date-label {
    padding: 10px;
    font-size: 15px;
}
.complete-page .settings .date-label .date {
	
}
.complete-page .settings .date-label i {
	display: inline-block;
	color: rgb(242, 96, 106);
	margin-right: 10px;
}

.complete-page .settings .default-options {
    margin-top: 5px;
}

.complete-page .settings .custom-options {
    height: 0px;
    overflow: hidden;
}

.complete-page .settings .option {
    width: 30%;
    text-align: center;
    color: #BBB;
    background: #FFF;
    border: 1px solid #DCDCDC;
    padding: 5px;
    float: left;
    font-size: 14px;
    cursor: pointer;
    border-radius: 2px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.complete-page .settings .option:hover {
    color: #333;
}

.complete-page .settings .option.selected {
    color: #FFF;
    background: rgb(242, 96, 106);
}

.complete-page .aspects {
    max-height: 480px;
    overflow-x: hidden;
	overflow-y: scroll;
    background: none;
    border-radius: 2px;
    margin-top: 10px;
}

.complete-page .aspect {
    padding: 3px;
    color: #333;
    margin-bottom: 5px;
    border-bottom: 1px solid #EEE;
    cursor: pointer;
}

.complete-page .aspect .aspect-icon {
    display: inline-block;
    color: #FFF;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

.complete-page .aspect .aspect-data {
    margin-left: 4px;
    display: inline-block;
}
.complete-page .aspect .aspect-visibility {
    float: right;
    margin-left: 4px;
    display: inline-block;
}
.complete-page .aspect.aspect-disabled .aspect-visibility {
	opacity: 0.8;
}

.complete-page .aspect .aspect-data .aspect-info {
    color: #999;
}

.complete-page .side-control {
    right: 0;
    /*top: 80px;*/
    padding: 0px;
    position: fixed;
    z-index: 8;
    height: 100%;
    overflow-y: auto;
    /*background: #FBFBFB;*/
    /*border-left: 1px solid #EEE;*/
    transition: all 0.4s ease 0s;
}

.complete-page .side-control .header {
    /*padding: 10px;*/
    /*background: #FBFBFB;*/
    font-size: 18px;
    /*border: 1px solid #DCDCDC;*/
}

.complete-page .side-control .sub-header {
    font-size: 12px;
    color: #999;
}

/* Range Slider */
.ui-rangeSlider {
    padding: 0px;
    height: 24px;
    overflow: hidden;
}
.ui-rangeSlider-arrow {
    display: none;
}
.ui-rangeSlider-withArrows .ui-rangeSlider-container {
    width: 100%;
    margin: 0px;
    background: #999;
}
.ui-rangeSlider-bar {
    background: #333;
    color: #FFF;
    font-size: 12px;
    text-align: center;
    height: 20px;
    border-right: 4px solid #FFF;
    border-left: 4px solid #FFF;
}
.ui-rangeSlider-label {
    bottom: 50px;
    padding: 0px;
    color: #333;
    background: rgba(255,255,255,0.5);
}
.ui-rangeSlider-label-inner {
    top: 0%;
    left: 110%;
    border-left: 10px solid #333;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.ui-rangeSlider-rightLabel .ui-rangeSlider-label-inner {
    top: 0%;
    left: 0%;
    border-left: 10px solid transparent;
    border-right: 10px solid #333;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

}
div.full-loader { margin: 0 auto; text-align: center; width: 100%; display: block; font-size: 20em; opacity: 0.05; overflow: hidden; }

/* Live */
div.snapshot {
	margin: 0 0 20px 0;
    padding: 8px;
	background: #333;
	border-radius: 5px;
}

div.snapshot span.header {
	display: block;
	color: #eee;
	font-size: 22px;
}
div.weeks-scores span.header, div.feed span.header {
	display: block;
	color: #333;
	font-size: 22px;
}
div.snapshot span.subtitle, div.weeks-scores span.subtitle, div.feed span.subtitle {
	display: block;
	color: #aaa;
	font-size: 16px;
}

div.snapshot div.snapshot-pod {
	padding: 5px;
	margin: 5px 0 0 0;
	position: relative;
}
div.snapshot div.snapshot-pod:first-child {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
div.snapshot div.snapshot-pod:last-child {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

div.snapshot div.snapshot-pod div.snapshot-stats {
	width: 19%;
	height: 90%;
	margin: 10px 0 0 1%;
	display: inline-block;
	text-align: center;
	float: left;
}
div.snapshot div.snapshot-pod div.snapshot-stats > div {
	text-align: center;
	width: 100%;
	margin: 2px 0 12px 0;
}
div.snapshot div.snapshot-pod div.snapshot-stats > div span.number {
    font-size: 13px;
	font-weight: bold;
	color: #FFF;
	padding: 7.5px 2px;
	display: block;
	width: 100%;
	border-radius: 2px;
}
div.snapshot div.snapshot-pod div.snapshot-stats > div span.label {
	color: #888;
	display: block;
	width: 100%;
	font-size: 10px;
	margin: 2px 0 0 0;
	padding: 0;
}

div.snapshot div.snapshot-pod div.snapshot-stats > div.responses span.number {
	background: #38cf4a;
}

div.snapshot div.snapshot-pod div.snapshot-graph {
	display: inline-block;
	width: 75%;
	height: 150px;
	margin: 0;
	padding: 0;
	float: right;
}

div.snapshot div.snapshot-pod div.snapshot-graph:not(.no-data) > div.no-data {
	display: none;
}
div.snapshot div.snapshot-pod div.snapshot-graph.no-data > div.no-data {
    margin: 0 auto 0 auto;
    display: inline-block;
    width: 100%;
	height: 100%;
    text-align: center;
}
div.snapshot div.snapshot-pod div.snapshot-graph.no-data > div.no-data i {
	font-size: 10.25em;
	color: rgb(242, 96, 106);
	opacity: 0.6;
}
div.snapshot div.snapshot-pod div.snapshot-graph.no-data canvas {
	display: none;
}

div.snapshot div.snapshot-pod div.snapshot-graph canvas {
	display: block;
	width: 100%;
	height: 100%;
}

div.snapshot div.snapshot-pod div.snapshot-best-worst {
	color: #999;
	margin: 0px 0 5px 28.5px;
	display: inline-block;
	width: 95%;
	clear: both;
	padding: 5px;
	border-radius: 3px;
	
	word-wrap: break-word;	
}
div.snapshot div.snapshot-pod div.snapshot-best-worst > span {
	display: block;
	padding: 0;
	margin: 0;
}
div.snapshot div.snapshot-pod div.snapshot-best-worst > span i {
	margin-right: 4.5px;
}

div.snapshot div.snapshot-pod span.snapshot-label {
	text-align: center;
	display: block;
	font-weight: bold;
	color: #fff;
	margin: 5px 0 5px 0;
	clear: both;
}

div.feed {
	margin-bottom: 20px;
}

div.feed div.feed-list {
	width: 100%;
	overflow-y: scroll;
	max-height: 260px;
}

div.feed div.feed-list div.feed-item {
	width: 100%;
	padding: 6px 1px 10px 1px;
	margin: 5px 0;
	border-bottom: 1px solid #eee;
}

div.feed div.feed-list div.feed-item span {
	
}

div.feed div.feed-list div.feed-item span.number {
	width: 50px;
    text-align: center;
    font-size: 12px;
	font-weight: bold;
	color: #FFF;
	padding: 2px 4px;
	display: inline-block;
	border-radius: 2px;
}

div.feed div.feed-list div.feed-item span.feed-label {
	color: #777;
	margin: 0 0 0 14px;
}

div.feed div.feed-list div.feed-item span.date {
	float: right;
	color: #999;
	font-size: 12px;
}

div.feed div.feed-list div.feed-item span.medium {
	float: right;
	font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
	font-size: 26px;
	display: inline-block;
	margin: -5px 0 5px 30px;
	width: 30px;
	text-align: center;
    color: rgb(242, 96, 106);
}
div.feed div.feed-list div.feed-item span.medium.medium-tablet::before {
	content: '\f10a';
	font-size: 30px;
}
div.feed div.feed-list div.feed-item span.medium.medium-desktop::before {
	content: '\f108';
}
div.feed div.feed-list div.feed-item span.medium.medium-phone::before {
	content: '\f10b';
	font-size: 39px;
    top: -5px;
    position: relative;
}

div.weeks-scores {
	margin: 0 0 20px 0;
	max-width: 300px;
}

div.weeks-scores div.scores-list {
	width: 95%;
	padding: 0;
	margin: 0;
}

div.weeks-scores div.scores-list div.scores-item {
	width: 100%;
	position: relative;
	margin: 9px 0 0 0;
}

div.weeks-scores div.scores-list div.scores-item div.score-bar {
	width: 100%;
	height: 25px;
	padding: 0;
	margin: 0;
}
div.weeks-scores div.scores-list div.scores-item div.score-bar > div {
	height: 100%;
	width: 10px;
	background: rgb(242, 96, 106);
	display: inline-block;
	padding: 0;
	margin: 0;
	border-radius: 2px;
}
div.weeks-scores div.scores-list div.scores-item div.score-bar.no-data > div {
	background: rgba(255,255,255,0);
}
div.weeks-scores div.scores-list div.scores-item div.score-bar > span {
	position: absolute;
	left: 2px;
	top: 2px;
    color: #FFF;
    font-weight: bold;
    background: rgba(255,255,255,0);
}
div.weeks-scores div.scores-list div.scores-item div.score-bar > span.no-data {
	background: rgb(242, 96, 106);
	border-radius: 2px;
	padding: 0 5px 0 2px;
	left: 0;
	opacity: 0.5;
	transition: opacity 0.5s ease-in-out;
}
div.weeks-scores div.scores-list div.scores-item div.score-bar > span.no-data:hover {
	opacity: 1;
}
div.weeks-scores div.scores-list div.scores-item > span {
	display: block;
	color: #666;
    font-size: 12px;
}

/* Customers */
/* Live */
div.customers {
	margin: 0 0 20px 0;
    padding: 8px;
	border-radius: 5px;
}

div.customers span.header {
	display: block;
	color: #333;
	font-size: 22px;
}

div.customers span.subtitle {
	display: block;
	color: #aaa;
	font-size: 16px;
	margin-bottom: 10px;
}

div.customers div.customer {
	background: #333;
	border-radius: 4px;
	width: 300px;
	padding: 0;
	margin: 0.5em 1.5em 1.25em 0.25em;
	border: 1px solid #bbb;
	display: inline-block;
}

div.customers div.customer div.customer-top {
	color: #fff;
	margin: 0;
	padding: 3px 3px 6px 3px;
	width: 100%;
	
	position: relative;
}

div.customers div.customer div.customer-top div.device {
	padding: 5px 10px 5px 5px;
	margin: 0;
	text-align: center;
	display: inline-block;
}

div.customers div.customer div.customer-top div.device i {
	font-size: 35px;
	height: 100%;
}

div.customers div.customer div.customer-top div.details {
	height: 100%;
	padding: 2px 0;
	margin: 0;
	display: inline-block;
}

div.customers div.customer div.customer-top div.details span.customer-date {
	font-weight: bold;
	display: block;
	font-size: 12px;
	padding: 0;
	margin: 0;
}

div.customers div.customer div.customer-top div.details span.customer-email {
	display: block;
	font-size: 12px;
	font-style: italic;
	padding: 0;
	margin: 0;
}

div.customers div.customer div.customer-top div.btn-aspect-view {
	float: right;
	padding: 5px;
	cursor: pointer;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.customers div.customer div.customer-top div.btn-aspect-view i {
	font-size: 25px;
}

div.customers div.customer div.customer-middle {
	
}

div.customers div.customer div.customer-middle div.aspects-overview {
	padding: 5px;
	background: #333;
}

div.customers div.customer div.customer-middle div.aspects-overview > div {
	display: inline-block;
	width: 30%;
	margin: 0 1.5%;
	text-align: center;
}

div.customers div.customer div.customer-middle div.aspects-overview div.bulb {
	border-radius: 5px;
	width: 75px;
	height: 75px;
	text-align: center;
	display: inline-block;
	color: #fff;
	font-size: 25px;
	overflow: hidden;
	padding-top: 23%;
}

div.customers div.customer div.customer-middle div.aspects-overview span.label {
	color: #eee;
}

div.customers div.customer div.customer-middle div.aspect-list {
	display: none;
	
	background: #eee;
	height: 110px;
	overflow-y: auto;
}

div.customers div.customer div.customer-middle div.aspect-list div.customer-aspect {
	width: 100%;
	padding: 6px 6px;
	position: relative;
}

div.customers div.customer div.customer-middle div.aspect-list div.customer-aspect div.bulb {
	border-radius: 5px;
	width: 40px;
	height: 40px;
	text-align: center;
	display: inline-block;
	color: #fff;
	font-size: 14px;
	overflow: hidden;
	padding-top: 10px;
	margin-bottom: -10px;
	position: relative;
}

div.customers div.customer div.customer-middle div.aspect-list div.customer-aspect span.customer-aspect-title {
	font-size: 16px;
	color: #333;
	position: relative;
	
	padding: 0 4px 0 12px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

div.customers div.customer div.customer-bottom {
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}

div.customers div.customer div.customer-bottom div.btn-acknowledge {
	font-size: 16px;
	padding: 15px 15px 10px 15px;
	width: 100%;
	font-weight: bold;
	color: #333;
	text-align: center;
	background: #eee;
	border-top: 1px solid #bbb;
	cursor: pointer;
	
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.customers div.customer div.customer-bottom div.btn-acknowledge:hover {
	background: #dedede;
	color: #444;
}

div.customers div.customer.acknowledged div.customer-bottom div.btn-acknowledge { display: none; }