body{
	font-family: "helvetica neue", arial, helvetica, freesans, "liberation sans","numbus sans l", sans-serif;
	background-color: #FFFFFF;
	background-image:linear-gradient(#EEEEEE, #CCCCCC);
	background-color: #FFFFFF;
    
	background-image: linear-gradient(0deg, transparent 24%, rgba(0, 0, 0, .04) 25%, rgba(0, 0, 0, .04) 26%, transparent 27%, transparent 74%, rgba(0, 0, 0, .04) 75%, rgba(0, 0, 0, .04) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(0, 0, 0, .04) 25%, rgba(0, 0, 0, .04) 26%, transparent 27%, transparent 74%, rgba(0, 0, 0, .04) 75%, rgba(0, 0, 0, .04) 76%, transparent 77%, transparent);
	height:100%;
	background-size:30px 30px;
	background-attachment: fixed; 
}

div.top-banner { background: #FBFBFB; width: 100%; height: 50px; position: absolute; top: 0; left: 0; }
div.top-banner img.logo-quote { float: left; margin: 0; height: 40px; padding: 10px; cursor: pointer; }

div.spacer { width: 100%; height: 40px; padding: 0; margin: 0; }

.positive { color: #2ECC0E; }
.negative { color: #FF2B2B }

span.aspect-title { background: #FF2B2B; border-radius: 0.3em; color: #FFFFFF; padding: 0.1em 0.6em; font-size: 0.95em; cursor: pointer; padding: 5px;}
span.aspect-title.placeholder { visibility: hidden; }

div.top-area { width: 100%; min-height: 100px; height: auto; background: #E6E6E6; margin: 1em 0 0 0; padding: 1em 0; text-align: center; overflow: hidden; -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; transform-style: preserve-3d; }
div.top-area .big-number { font-size: 4em; }
div.top-area .title { text-transform: uppercase; color: #1A1A1A; display: block; font-size: 0.9em; }
div.top-area .subtitle { text-transform: uppercase; color: #9D9D9D; display: block; font-size: 0.75em; }
div.top-area div.block { width: auto; display: inline-block; text-align: left; margin: 0 1em; }
div.top-area div.attention-area { height: 100%; position: relative; }
@media (min-width: 900px) {
	div.top-area div.attention-area {}
}
@media (max-width: 900px) {
	div.top-area div.attention-area { transform: translateY(0); padding-top: 0.8em; }
}
div.top-area div.attention-area span.title { text-transform: uppercase; color: #1A1A1A; line-height: 225%; }
div.top-area div.attention-area div.top { }
div.top-area div.attention-area div.bottom { margin: 0.4em 0 0 0; }
div.top-area div.attention-area div.aspects { }
div.top-area div.attention-area div.aspects span { margin: 0 0.2em 0 0; }

div.aspect-area { width: 100%; height: auto; overflow: hidden; margin: 2em auto; }
div.aspect-area div { padding: 0; margin: 0; }
div.aspect-area div.row { width: 100%; max-width: 2000px; height: auto; overflow: hidden; margin: 0 auto; text-align: center; }

div.aspect-area div.row div.aspect-container { width: 205px; height: auto; margin: 0 0em 2em 4em; display: inline-block; position: relative; zoom: 1; }

div.aspect-area div.row div.aspect-container.disabled::after { content : ''; width: 100%; height: 100%; display: block; position: absolute; top: 0; left: 0; background: repeating-linear-gradient(-55deg, #222, #222 6px, #333 6px, #333 12px ); opacity: 0.35; }

div.aspect-area div.row div.aspect-container div.graphs { height: 350px; position: relative; }
div.aspect-area div.row div.aspect-container div.graphs div.graph { float: left; position: absolute; bottom: 0; }
div.aspect-area div.row div.aspect-container div.graphs div.graph:hover { opacity: 0.9; }
div.aspect-area div.row div.aspect-container div.graphs::before { content : ''; display: block; width: 100%; height: 100%; background: #434343; opacity: 0.04; left: 0; border-top-left-radius: 0.2em; border-top-right-radius: 0.2em; }
div.aspect-area div.row div.aspect-container div.graphs div.left-graph { background: #434343; height: 15%; width: 80%; left: 0; }
div.aspect-area div.row div.aspect-container div.graphs div.left-graph div.percent { color: #FFFFFF; font-size: 1.8em; font-weight: bold; position: absolute; bottom: 0.4em; left: 0.4em; }
div.aspect-area div.row div.aspect-container div.graphs div.right-graph { background: #9F9F9F; width: 20%; height: 15%; right: 0; }

div.aspect-area div.row div.aspect-container div.graph-info { background: #E6E6E6; overflow: hidden; width: 100%; height: auto; margin: 0.5em 0 0 0; border-radius: 0.3em; text-transform: uppercase; color: #9F9F9F; text-align: center; }
div.aspect-area div.row div.aspect-container div.graph-info div.left-block { display: inline-block; }
div.aspect-area div.row div.aspect-container div.graph-info div.left-block span.fraction.numerator { font-size: 2.5em; display: block; }
div.aspect-area div.row div.aspect-container div.graph-info div.left-block span.fraction.denominator { font-size: 0.7em; display: block; position: relative; top: -0.6em; }
div.aspect-area div.row div.aspect-container div.graph-info div.right-block { overflow: hidden; height: 100%; display: inline-block; position: relative; top: 50%; transform: translateY(-15%); margin: 0 0 0 0.3em; text-align: left; }
div.aspect-area div.row div.aspect-container div.graph-info div.right-block > div { font-size: 0.9em; overflow: hidden; }
div.aspect-area div.row div.aspect-container div.graph-info div.right-block i { margin: 0; font-size: 1.5em; position: relative; }
div.aspect-area div.row div.aspect-container div.graph-info div.right-block i.fa-sort-asc { top: 0.35em; }
div.aspect-area div.row div.aspect-container div.graph-info div.right-block i.fa-sort-desc { top: -0.1em; }
div.aspect-area div.row div.aspect-container div.graph-info div.right-block span.duration { font-size: 0.7em; }
div.aspect-area div.row div.aspect-container span.aspect-title { display: inline-block; margin: 0em 0 0 0; padding: 10px; width: calc(100% - 1.2em); text-align: center; }
