a:visited div{
	text-decoration:none;
	outline:none;
}
.comment_box{
	border-bottom:1px solid #f5f5f5;
	padding-bottom:4px;
}
	
.buttonGraph{
	background: #f9f9f9;
}

.hub_box{
	
	display:none;

	padding:5px;
	background:#fff;
	padding:0px;
	background:#fff;
	border: 1px solid #dcdcdc;
	margin-top:8px; 
	width:90%;
	
	-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
	
}

.hbox-inactive { opacity: 0.5; filter: opacity(50); }

a div.box_button{
	text-decoration:none;
}

.hbox{
	/*width:86%;*/
	width:230px;
	height:171px;
	border:0px solid #dcdcdc;
	float:left;
	margin-left:3%;
	margin-top:20px;
	background:none;
	overflow:hidden;
	background:rgba(0,0,0,0.7);
	background:#FFF;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;

	-webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.6);
	-moz-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.6);
	box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.6);
}
.hbox_image{
	float:left;
	width:40px;
	height:30px;
	overflow:hidden;
	line-height:50px;
	text-align:center;
	padding-right:10px;
}
.hbox_left{
	float:left;
}
.box_font1{
	color:#555;
	font-size:12px;
}
.color_bar{
	float:right; height:160px; width:30px; margin-left:2px;
	margin:5px;
	overflow:hidden;
	border:1px solid #dcdcdc;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	border-radius: 3px;
}
.hbox_name{
	padding:5px;
	font-size:16px;
	font-family:helvetica;
	color:#333;
	background:#FFF;
	width:170px;
	height: 171px;
	border-right:1px solid #EEE;
	border-left:1px solid #666;
	
	
}
.hbox_average{
	padding:3px;
	margin-top:10px;
	font-size:11px;
}
.box_button_holder{
	margin:3px;
}

.box_button{
	background: #f8f8f8;
	width:48px;
	height:17px;
	line-height:17px;
	float:left;
	color:#333;
	border:1px solid #dcdcdc;
	font-size:10px;
	font-family:helvetica;
	font-weight:bold;
	text-align:center;
	cursor:pointer;
}
.box_button:hover{
	opacity:0.8;
}

.box_button_left{
	-webkit-border-top-left-radius: 3px;
	-moz-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.hubbox_button_left{
	background:#666;
	padding:9px;
	line-height:15px;
	border-bottom:1px solid #ccc;
	cursor:pointer;
}
.hubbox_button_img{
	height:22px;
}

.box_button_right{
	-webkit-border-top-right-radius: 3px;
	-moz-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.box_button_holder{
	width:190px;
	margin:0 auto;
	margin-top:5px;
}

.post_activity_single{
	width:200px;
	min-height:30px;
	overflow:visible;
}
.post_activity_single_date{
	font-size:11px;
	height:10px;
	float:left;
}
.toggle_width{
	float:left;
	line-height:170px;
	width:20px;
	height:210px;
	text-align:center;
	padding:5px;
	background:#DDD;
	color:#CCC;
	text-align:center;
	cursor:pointer;
	float:left;
	
}
.hbox_description{
	font-size:11px;
}
.hbox_news{
	float:left;
	height:160px;
	overflow:scroll;
	padding:10px;
}