#main_container{
	padding: 0.625em;
	width: 280px;
	margin: 0 auto;
	margin-top: 80px;
}
.in{
	width:250px;
	margin:0 auto;
	padding:0.313em;
	border: 1px solid #dcdcdc;
	border-style:solid;
	font-size:0.938em;
	font-family:helvetica;
	color:#444444;
	-webkit-appearance: none;
    border-radius: 0;
    background:#fefefe;
}

.in{
	width:100%;
	background:rgba(227,227,227,0.15);
	outline:none;
	border:1px solid #dcdcdc;
	padding:0.875em;
	font-size:1.063em;
	border-radius:2px;
	margin-top:0.625em;
}

#bottom{
	font-size:0.938em;
	font-family:helvetica;
	color:#444444;
	margin-top:0.5em;
}

.sub{
	width:100%;
	color:#666;
	padding:0.75em;
	margin-top:0.625em;
	-webkit-appearance: none;
    border-radius: 0;
	
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
}

#download {
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	background: #FF2B2B;
	color: #FFFFFF;
	padding: 10px;
	font-size: 15px;
}

#download .message {
	width: 100%;
	text-align: center;
}

#download .pop-up {
	display: none;
	width: 100%;
	text-align: center;
}

#download .pop-up i {
	font-size: 30px;
}