.ta{
	opacity:1;
	background:#fff;
	resize:none;
	border:0px solid #dcdcdc;
	border-left:none;
	border-right:none;
	color:#555;
	width:100%;
	padding:10px;
	outline:none;
	margin-top:0px;
	text-align:left;
	font-family:helvetica;
	font-size:13px;
	height:60px;
	box-sizing:border-box;
}
.ta:focus{
	background:#fff;
}

::-webkit-input-placeholder {
   color: #AAA;
}

:-moz-placeholder { /* Firefox 18- */
   color: #AAA; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #AAA; 
}

:-ms-input-placeholder {  
   color: #AAA; 
}