.post_box{
	float:left;
	border:1px solid #dcdcdc;
	background:#fff;
	width:100%;
}
.post_top{
	background:#f9f9f9;
	font-family: "helvetica neue",arial,helvetica,freesans,"liberation sans","numbus sans l",sans-serif;
}
.appear{
	height:30px;
	line-height:30px;
}

.post_box_container_mobile {
	width: 90%;
	min-height:110px;
	margin: 5px auto 13px auto;
}

.post_box_container {
	width: 505px;
	min-height:110px;
	margin: 5px auto 13px auto;
	margin-top:15px;
}

.post_box_container:hover {
	background:#FF2b2b;
}