.ta{
	opacity:1;
	background:#FBFBFB;
	resize:none;
	border:0px solid #dcdcdc;
	border-left:none;
	border-right:none;
	color:#555;
	width:100%;
	padding:10px;
	outline:none;
	margin-top:0px;
	text-align:left;
	font-family:helvetica;
	font-size:13px;
	height:50px;
	box-sizing:border-box;
	
	background-image:       linear-gradient(0deg, transparent 24%, rgba(0, 0, 0, .06) 25%, rgba(0, 0, 0, .06) 26%, transparent 27%, transparent 74%, rgba(0, 0, 0, .06) 75%, rgba(0, 0, 0, .06) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(0, 0, 0, .06) 25%, rgba(0, 0, 0, .06) 26%, transparent 27%, transparent 74%, rgba(0, 0, 0, .06) 75%, rgba(0, 0, 0, .06) 76%, transparent 77%, transparent);
  	background-size:30px 30px;
 	background-attachment: fixed;
}
.ta:focus{
	height:80px;
	background:#fff;
}

::-webkit-input-placeholder {
   color: #AAA;
}

:-moz-placeholder { /* Firefox 18- */
   color: #AAA; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #AAA; 
}

:-ms-input-placeholder {  
   color: #AAA; 
}