@keyframes myfirst
{
from {border-top: 7px solid #00FF00;}
to {border-top:  7px solid #00DD00;}
animation-iteration-count:infinite;
-webkit-animation-iteration-count:infinite; /*Safari and Chrome*/
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
from {border-top: 7px solid #00FF00;}
to {border-top:  7px solid #00DD00;}
animation-iteration-count:infinite;
-webkit-animation-iteration-count:infinite; /*Safari and Chrome*/
}

.post_box{
	border:1px solid #dcdcdc;
	background:#fff;
	width:100%;
}
.post_top{
	background:#f9f9f9;
	font-family: "helvetica neue",arial,helvetica,freesans,"liberation sans","numbus sans l",sans-serif;
}
.appear{
	height:30px;
	line-height:30px;
}

.post_box_container_mobile {
	width: 90%;
	min-height:110px;
	margin: 5px auto 13px auto;
}

.post_box_container {
	width: 505px;
	min-height:110px;
	margin: 5px auto 13px auto;
}

.post_box_container:hover {
	background:#000;
}