.post_box{
	float:left;
	border:1px solid #dcdcdc;
	background:#fff;
	width:100%;
}
.post_top{
	background:#f9f9f9;
	font-family: "helvetica neue",arial,helvetica,freesans,"liberation sans","numbus sans l",sans-serif;
}
.appear{
	font-size:12px;
	font-family:helvetica;
	color:#666;
	padding-top:3px;
	padding-bottom:3px;
	height:40px;
	box-sizing:border-box;
}

.post_box_container_mobile {
	width: 90%;
	min-height:110px;
	margin: 5px auto 13px auto;
}

.post_box_container {
	width: 505px;
	min-height:110px;
	margin: 5px auto 13px auto;
	margin-top:15px;
}

.post_box_container:hover {
	background:#FF2b2b;
}
.aspect-container{
	margin-top: 0;
}
.aspect{
	width: 100%;
	margin-top: 30px;
	padding: 10px;
	border: 1px solid #444;
	border-radius: 3px;
	background:#454545;
}
.aspect-header{
	width: 100%;
	font-size: 20px;
}
.aspect-header .title{
	color: #EEEEEE;
}
.aspect-header .subtitle{
	line-height:17px;
	opacity: 0.75;
	opacity: 0.5;
	font-size: 14px;
}
.rating-box{
	width: 100%;
	margin-top: 10px;
}
.rating-button{
	cursor: pointer;
	float: left;
	height: 70px;
	width: 20%;
	text-align:center;
	text-shadow: 0px 0px 2px rgba(100, 100, 100, 1);
	border-right: 1px solid #333333;
	color: #333;
	transition: all .3s ease-in-out;
/*				-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);*/
}
.rating-button img {
	max-height: 70px;
	vertical-align: middle;
}
.rating-button .helper {
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}
.rating-button:hover{
	opacity: 0.8;
}
.rating-button.one{
	background: #ee872b;
}
.rating-button.two{
	background: #edc812;
}
.rating-button.three{
	background: #eede2b;
}
.rating-button.four{
	background: #d0ee2b;
}
.rating-button.five{
	background: #4eaf0e;
}
.rating-button.one img {
	height: 10px;
}
.rating-button.two img {
	height: 20px;
}
.rating-button.three img {
	height: 30px;
}
.rating-button.four img {
	height: 40px;
}
.rating-button.five img {
	height: 50px;
}
.rating-button.selected{
	opacity:0.5;
}
.rate-description{
	clear: both;
	color: #F5F5F5;
	width: 100%;
	opacity: 0.2;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

div.aspect > div.rating-box .appear { display: none; width: 100%; text-align: center; margin: auto auto; }
div.aspect.rated > div.rating-box .holder { display: none; }
div.aspect.rated > div.rating-box .rate-description { display: none; }
div.aspect.rated > div.rating-box .appear { display: block; }