#search_result{
	width:900px;
	margin:0 auto;
	margin-bottom:15px;
	padding:10px;
	border: 1px solid #dcdcdc;
	background:#ffffff;
	border-radius:2px;
}
#block{
	float:left;
	border-radius:2px;
	border:1px solid #dcdcdc;
	background:#f7f7f7;
	font-size:12px;
	color:#666;
	margin-right:5px;
}