#signup_box{
	padding: 0.125em;
	margin: 60px auto 0 auto;
	width: 80%;
	max-width: 800px;
}
@media (min-width:365px) { #signup_box { min-width: 365px; } }
@media (max-width:365px) { #signup_box { min-width: 90%; } }

.signup_instruction{
	font-size:1.2em;
	color:#666;
	margin: 0.5em 0 0.825em 0;
}
.in{
	width:90%;
	background:rgba(227,227,227,0.15);
	outline:none;
	border:1px solid #dcdcdc;
	padding:0.875em;
	font-size:1.063em;
	border-radius:2px;
	margin:0.625em auto 0 auto;

}
#submit{
	width:70%;
	padding: 0.75em 0 0.75em 0em;
	margin: 0.625em auto 0px auto;
}

#back { width: 20%; padding: 0.75em 0 0.75em 0em; margin: 0.625em 1em 0 auto; }

div#part1 { position: relative; }
div#part2 { text-align: center; }
div.token-container { width: 100%; position: relative; }

#next{
	position:absolute;
	z-index:10;
	width:10%;
	height: 0.8em;
	padding:0.625em 0.625em 0.75em 0.625em;
	right: 1em;
	top: 0;
	bottom: 0;
	margin: auto;
	text-align:center;
	font-weight:bold;
	font-size:0.75em;
	color:#FEFEFE;
	border:0px;
	background: #FF2b2b;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display: inline-block;
	font-family: arial;
	text-decoration: none;
	cursor: pointer;
}
#next:hover { opacity: 0.9; filter: opacity(90); }