.star {
	width: 20%; /*40x40*/
	height:40px;
	max-height:40px;
	margin: 0px;
	display: inline-block;
	border: 0px;
	border-right:2px solid #454545;
	background: url('/images/star.png') no-repeat center center;
	box-sizing:border-box;
	padding:5px;
	float:left;
	
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.holder > a:last-child > .star { float: right; }

.star:hover {
	opacity:0.5;
}

div.star-1 { background-color: #cc750e; background-size: 10%;}
div.star-2 { background-color: #ccc10e; background-size: 15%;}
div.star-3 { background-color: #afcc0e; background-size: 20%;}
div.star-4 { background-color: #82cc0e; background-size: 25%;}
div.star-5 { background-color: #2ecc0e; background-size: 30%;}

.holder {
	padding: 0px;
	margin: 0px;
	position:relative;
	z-index:10;
	/*box-shadow: 0px 2px 5px #CCC, 0px -2px 5px #CCC; */
	width:100%;
	white-space:nowrap;
	overflow:hidden;
	text-align:left;
	background: white;
}

.holder a {
	text-decoration: none;
	margin: 0px 0px;
}