body{
	margin:0px;
	padding:0px;	
	background:#E9EAEC;
}
.container{
	width:90%;
	margin:0 auto;	
}
.left{
	float:left;
}
*{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
	
	-webkit-font-smoothing: subpixel-antialiased; 
}
#top_bar{
	width:100%;
	padding:10px;
	background:#fff;
	text-align:center;
}
#logo{
	height:35px;	
}
#info_bar{
	text-align:center;

	background:#fff;	
	width:90%;
	margin:0 auto;
	margin-top:20px;
	padding:10px;
}
#name{
	font-size:14px;
	font-weight:bold;
	color:#555;
}
#description{
	font-size:12px;
	color:#999;
}
#suggestions_button{
	margin-top:5px;	
}