####################
# GZIP COMPRESSION #
####################
SetOutputFilter DEFLATE
AddOutputFilterByType DEFLATE text/html text/css text/plain text/xml application/x-javascript application/x-httpd-php
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html
SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png)$ no-gzip
Header append Vary User-Agent env=!dont-vary

RewriteEngine On
RewriteRule ^$ /framework/Controller.php?page=index [NC,L]
RewriteRule ^(secure/.*)$ /framework/Controller.php?secure=1&page=$1 [NC,L]
RewriteRule ^(?!user_data|framework|js|pages|css|images|widgets|favicon\.ico)\b([^\\\.*]+\/?[a-z-A-Z0-9]+\.?[a-zA-Z0-9]+)?\/?$ /framework/Controller.php?page=$1 [NC,L,QSA] #add P for proxy