Options +FollowSymLinks
RewriteEngine On

SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0

# Map all assets to the public resource directory.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (^(fonts|images)\/.*)$ app/res/$1 [L,NC,END]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (^(css|js)(\/.*))$ app/res/$2/dist/$3 [L,NC,END]

# Map all else to the entry point.
RewriteCond %{REQUEST_URI} !^\/\.well-known\/acme-challenge/[^\/]+
RewriteRule ^ index.php [L]
