{% import "macros/_resources.twig" as resources %}
{% htmlcompress %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <title>{% if page_title is defined %}{{ page_title }} - {% endif %}Brevada</title>

    <!-- Metadata -->
    {% if ignore_metadata|default(false) == false %}
    {% include "_metadata.twig" %}
    {% endif %}

    {% block metadata %}{% endblock %}

    <!-- Scripts -->
    {{ resources.script('/js/chunks.js') }}
    {{ resources.script('/js/vendor.js') }}
    {% block scripts %}{% endblock %}

    <!-- Themes -->
    {% if ignore_theme|default(false) == false %}
    {{ resources.style('/css/theme.css') }}
    {% endif %}
    {% block styles %}{% endblock %}

    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
{% endhtmlcompress %}
