/* Colour Guide */

$black: #333;

$red1: #ff271d;
$blue1: #1bb0ff;
$blue2: #a2dfff;
$blue3: #64caff;
$blue4: #0a2d42;
$green1: #20ce00;
$green2: #66ce00;
$green3: #8dce00;
$green4: #aece00;
$green5: #ccce00;
$grey1: #f7f7f7;
$grey2: #c7d0d6;
$grey3: #8fa1ad;
$grey4: #4c5f6b;
$orange1: #ffb400;
