/* Mixins */

@import 'libs/sass-flex-mixin-1.0.3/flex';

@mixin vendor-prefix($name, $value...) {
  @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$vendor}#{$name}: $value;
  }
}

@mixin vendor-prefix-key($property, $name, $content) {
  @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$property}: #{$vendor}#{$name}#{unquote("(")}#{$content}#{unquote(")")};
  }
}

@mixin user-select($type){
	@include vendor-prefix(user-select, #{$type});
	cursor: default;
}

@mixin box-shadow($value...) {
    @include vendor-prefix(box-shadow, $value);
}

@mixin transform($value...) {
    @include vendor-prefix(transform, $value);
}

.clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.clickable {
	@include user-select(none);
	cursor: pointer;
}

.ellipsis {
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
