.aspect .multi-option-bar {
    margin-bottom: 0.3em;

    .options {
        @include flexbox;
        @include flex-direction(row);
        @include flex-wrap(wrap);
        @include justify-content(flex-start);

        margin: 0 -0.4em;

        .value-type {
            @include flexbox;
            @include flex-direction(column);
            @include justify-content(center);
            @include align-content(center);

            min-height: 50px;
            background: $grey3;
            color: #fff;
            padding: 0.25em 2em;
            font-size: 1.1em;
            text-align: center;

            margin: 0.1em 0.4em 0.4em 0.4em;

            @extend %clickable;

            &:active {
                @include opacity(0.5);
            }

            @at-root body:not(.touch-device) #{&}:hover {
                @include opacity(0.5);
            }

            &:active {
                @include box-shadow(inset 0 0 6px 1px $grey5);
            }
        }

        &.binary .value-type, &.unary .value-type {
            @include flex-grow(1);
        }
    }
}
