/* Feedback Aspects */

.aspect-container {
    margin: 0 auto;
    padding-top: 16.5px;

    width: 90%;
    max-width: 575px;
    @include respond-to('small') { width: 575px; }
    @include transition(width ease .1s);

    .aspect {
        width: 100%;
        margin: 10px 0;
        opacity: 1;
        max-height: 220px;
        @include user-select(none);
        @extend %clearfix;

        .header {
            font-size: 1.1em;
            color: $black;
            display: block;
            margin-bottom: 8px;
        }

        &:not(:last-child)::after {
            content: '';
            display: block;
            height: 1px;
            width: 100%;
            @include transform(translateX(-50%));
            margin-left: 50%;
            margin-top: 10px;
            border-bottom: 1px solid $grey3;
            @include blur(0.5px);
            @include opacity(0.35);
        }

        &.submitting {
            opacity: 0.1;
        }

        @include transition(opacity 0.22s, max-height 0.3s);

        &.removing {
            overflow: hidden;
            max-height: 0;
        }
    }
}

@import 'aspectinput/rating';
@import 'aspectinput/multioption';

.aspect .submitted {
    text-align: center;
    color: $grey4;
    height: 92px;
    line-height: 92px;
    @extend %ellipsis;

    @include animation(fadein .1s);
}
