/* Dialog */

.dialog-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    -webkit-overflow-scrolling: touch;

    /* Specifically lower than header content z-index. */
    z-index: 990;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background: $grey5;
    }

    &:not(.as-page)::before {
        @include opacity(0.9);
    }

    /* Accounts for buttons. */
    padding-top: 70px;

    > .dialog-content {
        position: relative;
        -webkit-overflow-scrolling: touch;
        height: 100%;

        .form {
            height: 95%;

            form {
                height: 100%;
                @include flexbox;
                @include flex-direction(column);
            }
        }
    }
}

.dialog-overlay.dialog-comment,
.dialog-overlay.dialog-email {
    width: 100%;
    max-height: 100%;
    max-height: 100vh;

    &, .form {
        margin: 0 auto;
    }
}

.dialog-overlay.dialog-comment {
    .form .input-textarea {
        background: $grey1;
        width: 80%;
        max-width: 600px;
        border-radius: 4px;
        margin-top: 1.5em;
        max-height: 95%;

        &, textarea {
            height: 200px;
        }

        textarea {
            width: 100%;
            max-width: 100%;
            font-size: 1.4em;
        }
    }
}

.dialog-overlay.dialog-email .form {
    width: 90%;
    max-width: 600px;
    max-height: 95%;

    .form-group.email {
        margin-bottom: 0.5em;
    }

    .form-group.toggle {
        font-size: 1.175em;

        .toggle-input {
            font-size: 1.1em;
            margin: 0.15em 0 0.15em 0.15em;
        }
    }
}

.dialog-overlay.dialog-inactivity {
    z-index: 5000;
    text-align: center;

    .message {
        font-size: 2.8em;
        width: 80%;
        display: inline-block;
        margin: 0 auto;
        padding: 0.5em;
        background: $grey4;
        color: #fff;
        @include opacity(0.95);
        border-radius: 4px;
        @include box-shadow(0 0 5px $grey3);

        span {
            display: block;
        }

        i {
            margin: 0.65em 0 0 0;
        }
    }
}
