/* Feedback Header */

.feedback-header {
    background: #fff;

    .content {
        margin: 0 auto;
        padding: 50px 5px 15px 0;
        position: relative;
        max-width: 650px;

        @extend %clearfix;

        .brand {
            position: absolute;
            top: 0;
            left: 0;
        }

        .heading {
            font-size: 2.4em;
            text-align: center;
            margin: 0 0 20px 0;
            color: $grey4;

            span { font-weight: bold; color: $black; }
        }

        .controls {
            text-align: center;
        }

        .controls .header-btn {
            margin: 0 5px;
            font-size: 1.5em;
            max-width: 100%;
            width: 210px;
        }

    }
}

.controls {
    .btn {
        display: inline-block;
        background: $blue1;
        color: #fff;
        text-align: center;
        padding: 11px 18.5px;

        span + i {
            display: inline-block;
            float: right;
        }

        @extend %clickable;

        &:active, &:hover {
            background: $blue3;
        }
    }
}
