{% extends "_structure.twig" %}
{% set page_title = 'Login' %}
{% set public = true %}

{% block scripts %}
{{ resources.script('/js/views/login.js') }}
{% endblock %}

{% block body %}
<div class='ly center-h offset-v xsmall flex-v top-level'>
    <header class='constrain-w'>
        <div class='brand text-lq'></div>
    </header>
    <div class='constrain-w'>
        <div id='login-root'>
            <i class='fa fa-circle-o-notch fa-spin root-loader'></i>
        </div>
    </div>
    <footer class='wbr'>
        Need support? Toll Free: <a href='tel:1-855-484-7451' class='phone'>1 (855) 484-7451</a>
    </footer>
</div>
{% endblock %}
