/* Event */
.event-container .event {
    margin: 5px 15px 20px 15px;

    .event-content {
        width: $event_width;
        background: $event_background;
        @extend .clearfix;

        .header {
            font-size: 1.15em;
            padding-bottom: 0.4em;
            border-bottom: 1px solid #{$grey2};

            display: block;
            @include respond-to('xsmall') {
                display: flex;
            }
        }

        .header .hint {
            color: $grey3;
            @extend .ellipsis;

            .delim {
                padding: 0 0.3em;
            }

            .to.incomplete {
                margin: 0;

                &:hover {
                    border-bottom: 1px dotted $green2;
                }
            }
        }

        .body .tools {
            .form {
                padding: 0 0.3em;
            }

            .right {
                align-self: center;
                padding: 0 0.55em;
                font-size: 0.84em;
            }
        }

        .header > .right {
            text-align: center;
            @include respond-to('xsmall') {
                text-align: left;
            }
        }

        .badges {
            margin: 10px;
            @include respond-to('xsmall') {
                float: right;
                margin: 0;
            }
        }

        .event-aspects {
            padding: 0 0.1em;

            .event-aspects-item {
                font-size: 1.05em;
                padding: 0.8em 0;
                margin: 0 0.85em;
                @extend .clearfix;

                border-top: 1px solid transparent;
                border-bottom: 1px solid $grey5;

                .title, .detail, .control {
                    display: inline-block;
                }

                .title {
                    color: $black;
                    min-width: 30%;
                    @extend .ellipsis;
                }

                .detail {
                    padding: 0 0.8em;
                    color: $grey4;

                    width: calc(70% - 70px);
                    @extend .ellipsis;
                }

                .change {
                    //@include moods(color);
                    color: $green1;
                }

                .text {

                }

                .control {
                    position: absolute;
                    right: 0;
                    font-size: 0.84em;
                }
            }
        }
    }
}
