<footer class='wbr contrast'>
    <span class='links'>
        <a href='/policy#privacy'>Privacy Policy</a> | <a href='/policy#terms'>Terms of Use</a> | <a href='mailto:contact@brevada.com?subject=Online%20Inquiry' rel='nofollow'>Contact</a>
    </span>
    <span class='copyright'>
        &copy; 2017 brevada.com. All rights reserved.
    </span>
</footer>
