<header class='constrain-w'>
    <div class='content'>
        <a href='/'><div class='brand text-lq'></div></a>
        <div id='mobile-menu' class='btn mobile menu' tabindex='0'>
            <i class='fa fa-bars'></i>
        </div>
        <nav id='menu'>
            <a href='/#packages' class='btn btn-start'>Get Started</a>
            <a href='/login' class='btn btn-login'>Login</a>
        </nav>
    </div>
</header>
