body {
  background: #FF2B2B;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#load-container { width: 100%; height: 100%; padding: 0; margin: 0; z-index:2147483647; text-align: center; }

#load-container > div { width:100%; position: absolute; height: auto; top:50%; margin-top:-100px; }

#loader {
  position: relative;
  margin: auto;
  left: 0;
  right: 0;
  width: 80px;
  height: 65px;
}
#loader ul {
  margin: 0;
  list-style: none;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0;
}
#loader ul li {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 2px;
  height: 0;
  background-color: #FFF;
  bottom: 0;
}

#loader .loader-1 {
  left: 0;
  -webkit-animation: sequence1 1s ease infinite 0s;
  -moz-animation:	 sequence1 1s ease infinite 0s;
  -o-animation:		 sequence1 1s ease infinite 0s;
  animation:		 sequence1 1s ease infinite 0s;
}
#loader .loader-2 {
  left: 15px;
  -webkit-animation: sequence2 1s ease infinite 0.1s;
  -moz-animation:	 sequence2 1s ease infinite 0.1s;
  -o-animation:		 sequence2 1s ease infinite 0.1s;
  animation:		 sequence2 1s ease infinite 0.1s;
}
#loader .loader-3 {
  left: 30px;
  -webkit-animation: sequence1 1s ease-in-out infinite 0.2s;
  -moz-animation:	 sequence1 1s ease-in-out infinite 0.2s;
  -o-animation:		 sequence1 1s ease-in-out infinite 0.2s;
  animation:		 sequence1 1s ease-in-out infinite 0.2s;
}
#loader .loader-4 {
  left: 45px;
  -webkit-animation: sequence2 1s ease-in infinite 0.3s;
  -moz-animation:	 sequence2 1s ease-in infinite 0.3s;
  -o-animation:		 sequence2 1s ease-in infinite 0.3s;
  animation:		 sequence2 1s ease-in infinite 0.3s;
}
#loader .loader-5 {
  left: 60px;
  -webkit-animation: sequence1 1s ease-in-out infinite 0.4s;
  -moz-animation:	 sequence1 1s ease-in-out infinite 0.4s;
  -o-animation:		 sequence1 1s ease-in-out infinite 0.4s;
  animation:		 sequence1 1s ease-in-out infinite 0.4s;
}
#loader .loader-6 {
  left: 75px;
  -webkit-animation: sequence2 1s ease infinite 0.5s;
  -moz-animation:	 sequence2 1s ease infinite 0.5s;
  -o-animation:		 sequence2 1s ease infinite 0.5s;
  animation:		 sequence2 1s ease infinite 0.5s;
}

@-webkit-keyframes sequence1 {
  0% {
    height: 10px;
  }
  50% {
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@-webkit-keyframes sequence2 {
  0% {
    height: 20px;
  }
  50% {
    height: 65px;
  }
  100% {
    height: 20px;
  }
}

@-moz-keyframes sequence1 {
  0% {
    height: 10px;
  }
  50% {
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@-moz-keyframes sequence2 {
  0% {
    height: 20px;
  }
  50% {
    height: 65px;
  }
  100% {
    height: 20px;
  }
}

@-o-keyframes sequence1 {
  0% {
    height: 10px;
  }
  50% {
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@-o-keyframes sequence2 {
  0% {
    height: 20px;
  }
  50% {
    height: 65px;
  }
  100% {
    height: 20px;
  }
}

@keyframes sequence1 {
  0% {
    height: 10px;
  }
  50% {
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
@keyframes sequence2 {
  0% {
    height: 20px;
  }
  50% {
    height: 65px;
  }
  100% {
    height: 20px;
  }
}