body{
	width: 100%;
	padding: 0px;
	background:#BBB;
	color: #FBFBFB;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}
#loading {
	width:100%;
	height:100%;
	top:0;
	left:0;
	position:fixed;
	display:block;
	opacity:1;
	background-color:rgba(255,255,255,0.8);
	z-index:99;
	text-align:center;
}

#loading-image {
	position:absolute;
	top:100px;
	left:240px;
	z-index:100;
}

.topbar {
	z-index: 999;
	width: 100%;
	padding: 20px 10px;
	background: #FFF;
	text-align: center;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.topbar i {
	color: #FF2B2B;
	font-size: 80px;
	padding-top: 5px;
	display: inline-block;
	cursor: pointer;
}
.top-spacer {
	display: none;
	height: 175px;
}
.top-spacer.fixed {
	display: block;
}
.topbar.fixed {
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 5px 10px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.topbar.fixed i {
	display: none;
}

.topbar .title{
	color: #999;
	font-size: 30px;
	margin-top: 10px;
}

.topbar .title .shortened-message, .full-message {
	padding: 0;
	margin: 0;
}
.topbar .title.custom-title .full-message {
	font-size: 40px;
	padding: 10px 3px;
}
.topbar .title .shortened-message {
	display: none;
	font-size: 16px;
}
.topbar .logo{
	height: 30px;
}
.container{
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}
.fixed-toolbar{
	position: fixed;
	bottom: 0px;
	width: 100%;
	text-align: center;
	z-index: 999;
}
.submit{
	background: #FFF;
	padding: 10px 20px;
	color: #454545;
	font-size: 25px;
	border: 1px solid #FFF;
	opacity: 0.9;
	cursor: pointer;

	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
.submit:hover{
	opacity: 1;
}
.bottom-spacer{
	width: 100%;
	height: 50px;
}
#communicate_form{
	padding: 15px 15px;
	color: #FEFEFE;
}
.opt-out{
	color: #666666;
	font-size: 14px;
	text-decoration: none;
	cursor: pointer;
	margin-top: 10px;
	padding: 3px;
}
.opt-out:hover{
	color: #454545;
}
.thanks-header{
	width: 100%;
	padding: 15px 0px;
	text-align: center;
	color: #454545;
}
.thanks-header h1{
	font-size: 30px;
	font-weight: bold;
}
.thanks-header h2{
	font-size: 20px;
}
.refresh {
	width: 80px;
	text-align: center;
	color: #EEE;
	margin: 0 auto;
	margin-top: 10px;
	cursor: pointer;
}
.refresh .fa {
	font-size: 40px;
}
#imdone { display: none; }

#inactivity-overlay {
	position: fixed; top: 0; left: 0;
	width: 100%; height: 100%;
	background: black;
	opacity: 0.4;
	z-index: 99998;
}
#inactivity {
	z-index: 99999;
	text-align: center;
	position: fixed;
	width: 80%;
	top: 20%;
	left: 0;
	right: 0;
	margin: 0 auto;
	
	border-radius: 3px;
	background: #333;
	padding: 2em 0.5em;
	border: 3px solid #ff2b2b;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	box-sizing: border-box;
}
#inactivity p {
	font-weight: bold;
	color: #fff;
	font-size: 3.35em;
	text-align: center;
}

.locked { overflow: hidden !important; }

div.pp-overlay {
	position: fixed; top: 0; left: 0;
	width: 100%; height: 100%;
	background: #333;
	opacity: 0.9;
	z-index: 99900; /* below inactivity */
	display: none;
}

div.pp {
	position: fixed; top: 0; left: 0;
	width: 100%; height: 100%;
	z-index: 99901; /* below inactivity */
	display: none;
	height: 100%;
	overflow: hidden;
}

div.pp > div.content {
	position: fixed;
	z-index: 99902;
	left: 50%;
	width: 100%;
	max-width: 700px;
	height: 100%;
	margin: 0 auto;
	padding: 10% 1em 1.1em 1em;
	
	color: #fff;
	font-size: 18px;
	
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* post/pre templating. */

div.pp > div.content p.pp-message {
	font-size: 20px;
	width: 85%;
	margin: 4px auto 45px auto;
	padding: 2px 20px;
	display: block;
	font-weight: bold;
}

div.pp.tablet > div.content p.pp-message {
	font-size: 25px;
}

div.pp > div.content .pp-centered { text-align: center; }

div.pp > div.content div.pp-email {
	text-align: center;
	width: 100%;
	color: #fff;
	font-size: 20px;
}

div.pp > div.content span.pp-at {
	font-size: 30px;
	margin: 0 5px 0 20px;
	display: inline-block;
	font-weight: bold;
}

div.pp > div.content .pp-field {
	background: transparent;
	outline: none;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	border-bottom: 2px solid #fff;
}

div.pp > div.content div.pp-email .pp-field {
	padding: 5px;
	font-size: 24px;
	width: 45%;
}

div.pp > div.content div.pp-email span.data-email .pp-field {
	width: 100%;
}

div.pp > div.content div.pp-email span.data-email {
	color: #fff;
	padding: 5px;
	font-size: 24px;
	width: 35%;
	text-align: left;
	display: inline-block;
}

div.pp > div.content div.pp-email-options {
	width: 98%;
	padding: 0;
	margin: 20px auto 5px auto;
	text-align: center;
}

div.pp > div.content div.pp-email-options div.pp-email-option {
	display: inline-block;
	width: 30%;
	border-radius: 4px;
	background: #fff;
	color: #333;
	padding: 4px 4.5px;
	margin: 20px 1%;
	font-size: 20px;
	cursor: pointer;
	text-overflow: ellipsis;
	overflow: hidden;
}

@media (max-width: 500px){
	div.pp > div.content div.pp-email-options div.pp-email-option {
		width: 48%;
		margin: 8px 1%;
	}
	
	div.pp > div.content div.pp-email span.data-email {
		font-size: 20px;
	}
	
	div.pp > div.content div.pp-email .pp-field {
		font-size: 20px;
	}
}

div.pp > div.content div.pp-email-options div.pp-email-option.selected {
	opacity: 0.95;
	position: relative;
}
div.pp > div.content div.pp-email-options div.pp-email-option.selected::after {
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	
	content: "\f00c";
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 100%;
	overflow: hidden;
	color: #2ecc0e;
	font-size: 40px;
	text-align: center;
	border-radius: 4px;
	background: #aaa;
	opacity: 0.8;
	
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
}

div.pp > div.content div.pp-email-options div.pp-email-option.other { font-weight: bold; }

div.pp > div.content div.pp-btn {
	background: #999;
}

div.pp:not(.tablet) > div.content div.pp-btn:hover, div.pp:not(.tablet) > div.content div.pp-btn:active {
	background: #888;
}

div.pp > div.content div.pp-submit {
	display: block;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	cursor: pointer;
	
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	
	font-size: 25px;
	padding: 15px 20px;
}

div.pp.tablet > div.content div.pp-submit {
	font-size: 33px;
	padding: 30px 20px 30px 20px;
	bottom: 60px;
}

div.comments-btn {
	display: inline-block;
	position: fixed;
	bottom: 75px;
	right: 20px;
	width: 1.5em;
	height: 1.5em;
	z-index: 99800;
	opacity: 0.98;
	
	padding: 3px;
	margin: 0;
	
	color: #fff;
	background: #ff2b2b;
	border-radius: 50%;
	font-size: 3em;
	text-align: center;
	
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	
	cursor: pointer;
}

div.comments-btn.tablet {
	width: 2em;
	height: 2em;
	font-size: 3.25em;
}

div.comments-btn:hover, div.comments-btn:active {
	opacity: 0.9;
}

div.comments-btn i {
	display: inline-block;
	margin-top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

div.pp-dismiss-circle {
	display: inline-block;
	position: fixed;
	top: 8px;
	right: 4px;
	width: 1.8em;
	height: 1.8em;
	
	padding: 0;
	margin: 0;
	
	color: #fff;
	background: #888;
	border-radius: 50%;
	font-size: 1.3em;
	text-align: center;
	
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	
	cursor: pointer;
}

div.pp-dismiss-circle:hover, div.pp-dismiss-circle:active {
	opacity: 0.9;
}

div.pp-dismiss-circle i {
	display: inline-block;
	margin-top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

div.pp div.pp-textarea-box {
	width: 92%;
	margin: 0 auto;
	padding: 0;
	display: block;
	font-size: 0;
	overflow: hidden;
}

div.pp div.pp-textarea-box textarea {
	margin: 0;
	padding: 10px;
	font-size: 20px;
	background: #fff;
	display: inline-block;
	min-height: 250px;
	width: 100%;
	resize: none;
	color: #000;
	outline: none;
	border: 0;
}

div.pp.tablet div.pp-textarea-box textarea {
	font-size: 24px;
}

div.pp div.pp-textarea-box div.pp-btn-done,
div.pp div.pp-textarea-box div.pp-btn-cancel {
	display: inline-block;
	padding: 6px;
	font-size: 20px;
	text-align: center;
	color: #fff;
	margin: 0;
	cursor: pointer;
	outline: none;
	border: 0;
}

div.pp.tablet div.pp-textarea-box div.pp-btn-done,
div.pp.tablet div.pp-textarea-box div.pp-btn-cancel {
	font-size: 22px;
	padding: 10px;
}

div.pp div.pp-textarea-box div.pp-btn-done:hover,
div.pp div.pp-textarea-box div.pp-btn-done:active { opacity: 0.9; }
div.pp div.pp-textarea-box div.pp-btn-cancel:hover,
div.pp div.pp-textarea-box div.pp-btn-cancel:active { opacity: 0.9; }

div.pp div.pp-textarea-box div.pp-btn-done {
	background: #2ecc0e;
	width: 75%;
}

div.pp div.pp-textarea-box div.pp-btn-cancel {
	background: #BBB;
	width: 25%;
}